@use "@/styles/responsive-mixins";

.partners-carousel {
  position: relative;
  overflow: hidden;
  height: 160px;
  --_animation-speed: var(--animation-speed, 40s);

  &-list {
    --gap: 48px;
    --shift: calc(-50% - (var(--gap) / 2));
    padding: 0;
    display: flex;
    gap: var(--gap);
    position: absolute;
    width: fit-content;
    will-change: transform;

    &:hover {
      animation-play-state: paused;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    animation: infinite-scroll var(--_animation-speed) linear infinite;

    @keyframes infinite-scroll {
      to {
        transform: translateX(var(--shift));
      }
    }
  }


  &-item {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
  }

  &-image {
    display: block;
    height: 160px;
    width: 160px;
    object-fit: contain;
  }
}
