@use "@/styles/responsive-mixins";

.navigation-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-title {
    color: var(--night);
    display: none;
  }

  &-list {
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 4px 0 16px;
    flex-direction: column;
  }

  &-list-item {
    width: 100%;
  }

  &-link {
    display: block;
    font-weight: 500;
    padding: 8px 0 8px 8px;
    width: 100%;
    color: var(--night);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @include responsive-mixins.lg() {
    position: relative;
    padding: 36px 24px;
    gap: 24px;
    background-color: var(--white);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 24px;
      height: 1px;
      background-color: var(--night);
    }

    &-title {
      display: block;
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.75;
    }

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-right: 33%;
      gap: 24px;
      padding: 0;
    }

    &-list-item {
      font-size: 1.5rem;
      line-height: 1.5;
    }

    &-link {
      padding: 0;
    }
  }
}
