@use "@/styles/responsive-mixins";
@use "@/styles/mixins";
@use "@/styles/layout";
@use "@/styles/constants";

.wave-banner {
  @include mixins.wavy-background;
  --_background-color: var(--background-color, var(--primary));
  --_color: var(--color, var(--white));
  --_decoration-color: var(--decoration-color, var(--white));
  position: relative;
  isolation: isolate;
  padding: 56px 16px;
  color: var(--_color);
  background-color: var(--_background-color);

  &:not(:first-child)  {
    margin-top: -#{map-get(constants.$wave-polygon-md, "height")};
    clip-path: map-get(constants.$wave-polygon-md, "value");

    // clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
    // shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
    // clip-path: polygon(100% 100%, 0% 100% , 0.00% 0.00%, 1.00% 0.03%, 2.00% 0.13%, 3.00% 0.29%, 4.00% 0.51%, 5.00% 0.78%, 6.00% 1.12%, 7.00% 1.51%, 8.00% 1.95%, 9.00% 2.44%, 10.00% 2.97%, 11.00% 3.53%, 12.00% 4.13%, 13.00% 4.76%, 14.00% 5.41%, 15.00% 6.07%, 16.00% 6.75%, 17.00% 7.43%, 18.00% 8.10%, 19.00% 8.77%, 20.00% 9.42%, 21.00% 10.06%, 22.00% 10.67%, 23.00% 11.25%, 24.00% 11.79%, 25.00% 12.29%, 26.00% 12.75%, 27.00% 13.15%, 28.00% 13.51%, 29.00% 13.81%, 30.00% 14.05%, 31.00% 14.23%, 32.00% 14.34%, 33.00% 14.40%, 34.00% 14.39%, 35.00% 14.31%, 36.00% 14.17%, 37.00% 13.97%, 38.00% 13.71%, 39.00% 13.40%, 40.00% 13.02%, 41.00% 12.60%, 42.00% 12.13%, 43.00% 11.61%, 44.00% 11.06%, 45.00% 10.47%, 46.00% 9.85%, 47.00% 9.21%, 48.00% 8.55%, 49.00% 7.88%, 50.00% 7.20%, 51.00% 6.52%, 52.00% 5.85%, 53.00% 5.19%, 54.00% 4.55%, 55.00% 3.93%, 56.00% 3.34%, 57.00% 2.79%, 58.00% 2.27%, 59.00% 1.80%, 60.00% 1.38%, 61.00% 1.00%, 62.00% 0.69%, 63.00% 0.43%, 64.00% 0.23%, 65.00% 0.09%, 66.00% 0.01%, 67.00% 0.00%, 68.00% 0.06%, 69.00% 0.17%, 70.00% 0.35%, 71.00% 0.59%, 72.00% 0.89%, 73.00% 1.25%, 74.00% 1.65%, 75.00% 2.11%, 76.00% 2.61%, 77.00% 3.15%, 78.00% 3.73%, 79.00% 4.34%, 80.00% 4.98%, 81.00% 5.63%, 82.00% 6.30%, 83.00% 6.97%, 84.00% 7.65%, 85.00% 8.33%, 86.00% 8.99%, 87.00% 9.64%, 88.00% 10.27%, 89.00% 10.87%, 90.00% 11.43%, 91.00% 11.96%, 92.00% 12.45%, 93.00% 12.89%, 94.00% 13.28%, 95.00% 13.62%, 96.00% 13.89%, 97.00% 14.11%, 98.00% 14.27%, 99.00% 14.37%, 100.00% 14.40%);
    // clip-path: polygon(100% 100%, 0% 100% , 0.00% 1.94%, 2.00% 1.93%, 4.00% 1.90%, 6.00% 1.86%, 8.00% 1.80%, 10.00% 1.73%, 12.00% 1.65%, 14.00% 1.56%, 16.00% 1.47%, 18.00% 1.38%, 20.00% 1.29%, 22.00% 1.20%, 24.00% 1.12%, 26.00% 1.05%, 28.00% 1.00%, 30.00% 0.96%, 32.00% 0.94%, 34.00% 0.94%, 36.00% 0.96%, 38.00% 0.99%, 40.00% 1.04%, 42.00% 1.10%, 44.00% 1.17%, 46.00% 1.26%, 48.00% 1.35%, 50.00% 1.44%, 52.00% 1.53%, 54.00% 1.62%, 56.00% 1.71%, 58.00% 1.78%, 60.00% 1.84%, 62.00% 1.89%, 64.00% 1.92%, 66.00% 1.94%, 68.00% 1.94%, 70.00% 1.92%, 72.00% 1.88%, 74.00% 1.83%, 76.00% 1.76%, 78.00% 1.68%, 80.00% 1.59%, 82.00% 1.50%, 84.00% 1.41%, 86.00% 1.32%, 88.00% 1.23%, 90.00% 1.15%, 92.00% 1.08%, 94.00% 1.02%, 96.00% 0.98%, 98.00% 0.95%, 100.00% 0.94%);
    // clip-path: polygon(100% 100%, 0% 100% , 0% 39.3px, 2% 36.4px, 4% 33.2px, 6% 29.9px, 8% 26.4px, 10% 23.0px, 12% 19.6px, 14% 16.3px, 16% 13.1px, 18% 10.2px, 20% 07.6px, 22% 05.3px, 24% 03.3px, 26% 01.8px, 28% 00.8px, 30% 00.1px, 32% 00.0px, 34% 00.4px, 36% 01.2px, 38% 02.4px, 40% 04.1px, 42% 06.2px, 44% 08.7px, 46% 11.4px, 48% 14.5px, 50% 17.7px, 52% 21.1px, 54% 24.5px, 56% 27.9px, 58% 31.3px, 60% 34.6px, 62% 37.7px, 64% 40.5px, 66% 43.1px, 68% 45.3px, 70% 47.1px, 72% 48.5px, 74% 49.5px, 76% 49.9px, 78% 49.9px, 80% 49.5px, 82% 48.5px, 84% 47.1px, 86% 45.3px, 88% 43.1px, 90% 40.6px, 92% 37.8px, 94% 34.7px, 96% 31.4px, 98% 28.0px, 100% 24.6px);
    //inverted clip-path: polygon(100% 0%, 0% 0%, 0% calc(100% - 26.7px), 2% calc(100% - 23.3px), 4% calc(100% - 20px), 6% calc(100% - 16.9px), 8% calc(100% - 13.8px), 10% calc(100% - 11px), 12% calc(100% - 8.4px), 14% calc(100% - 6.1px), 16% calc(100% - 4.2px), 18% calc(100% - 2.5px), 20% calc(100% - 1.3px), 22% calc(100% - 0.5px), 24% calc(100% - 0.1px), 26% calc(100% - 0.1px), 28% calc(100% - 0.5px), 30% calc(100% - 1.3px), 32% calc(100% - 2.5px), 34% calc(100% - 4.2px), 36% calc(100% - 6.1px), 38% calc(100% - 8.4px), 40% calc(100% - 11px), 42% calc(100% - 13.8px), 44% calc(100% - 16.9px), 46% calc(100% - 20px), 48% calc(100% - 23.3px), 50% calc(100% - 26.7px), 52% calc(100% - 30px), 54% calc(100% - 33.3px), 56% calc(100% - 36.5px), 58% calc(100% - 39.5px), 60% calc(100% - 42.3px), 62% calc(100% - 44.9px), 64% calc(100% - 47.2px), 66% calc(100% - 49.2px), 68% calc(100% - 50.8px), 70% calc(100% - 52px), 72% calc(100% - 52.9px), 74% calc(100% - 53.3px), 76% calc(100% - 53.3px), 78% calc(100% - 52.9px), 80% calc(100% - 52px), 82% calc(100% - 50.8px), 84% calc(100% - 49.2px), 86% calc(100% - 47.2px), 88% calc(100% - 44.9px), 90% calc(100% - 42.3px), 92% calc(100% - 39.5px), 94% calc(100% - 36.5px), 96% calc(100% - 33.3px), 98% calc(100% - 30px), 100% calc(100% - 26.7px));
  }

  &[data-theme="secondary"] {
    --background-color: var(--secondary);
    --color: var(--black);
  }

  &-image {
    display: none;
  }

  &-info {
    padding: 24px;
  }

  &-title {
    @include mixins.h4;
  }

  &-body {
    margin-top: 12px;
  }

  &-action {
    margin-top: 24px;
  }

  @include responsive-mixins.md {
    padding: 64px 24px;

    &-action {
      width: auto;
    }
  }

  @include responsive-mixins.lg {
    padding: 136px 0;
    &:not(:first-child)  {
      margin-top: -#{map-get(constants.$wave-polygon-lg, "height")};
      clip-path: map-get(constants.$wave-polygon-lg, "value");
    }

    &-content {
      display: flex;
      align-items: flex-start;
      gap: 48px;
      margin: auto;
      width: map-get(layout.$columns, "col-8");
    }

    &-image {
      display: block;
      flex-shrink: 0;
      width: 330px;
      height: 330px;
      color: var(--_decoration-color);
    }

    &-info {
      padding: 32px 0 32px 32px;
      flex-grow: 1;
    }
  }
}
