@use "@/styles/responsive-mixins";
@use "@/styles/mixins";
@use "@/styles/layout";

.wave-banner {
  @include mixins.wavy-background;
  --_background-color: var(--background-color, var(--primary));
  --_color: var(--color, var(--white));
  --_decoration-color: var(--decoration-color, var(--white));
  position: relative;
  isolation: isolate;
  padding: 56px 16px;
  color: var(--_color);
  background-color: var(--_background-color);

  &-image {
    display: none;
  }

  &-info {
    padding: 24px;
  }

  &-title {
    @include mixins.h4;
  }

  &-body {
    margin-top: 12px;
  }

  &-action {
    margin-top: 24px;
  }

  @include responsive-mixins.md {
    padding: 64px 24px;

    &-action {
      width: auto;
    }
  }

  @include responsive-mixins.lg {
    padding: 136px 0;

    &-content {
      display: flex;
      align-items: flex-start;
      gap: 48px;
      margin: auto;
      width: map-get(layout.$columns, "col-8");
    }

    &-image {
      display: block;
      flex-shrink: 0;
      width: 330px;
      height: 330px;
      color: var(--_decoration-color);

      &--large {
        width: 448px;
        height: 448px;
      }
    }

    &-info {
      padding: 32px 0 32px 32px;
      flex-grow: 1;
    }
  }
}
