vite.config.ts
codegen.ts
node_modules/**
coverage/**
src/assets/**
src/__generated__/**
.eslintrc
/dist

*.woff2
*.woff
*.ttf
*.styl
*.svg
*.json
*.png
*.webp
*.txt
*.css
*.xml
*.html
*.otf
*.gif
*.mp4
*.ejs
*.ico
*.md

