.social-ribbon {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  color: var(--white);

  &-locale-select {
    border: none;
    font-size: 1.5rem;
    height: 2rem;
    background-color: transparent;
    color: inherit;
  }

  &-links-list {
    margin: auto 0;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0;
  }

  &-icon {
    width: 24px;
    height: 24px;
  }
}
