@use "@/styles/breakpoints";

$columns: (
        col-1: 8.333333333333332%,
        col-2: 16.666666666666664%,
        col-3: 25%,
        col-4: 33.33333333333333%,
        col-5: 41.66666666666667%,
        col-6: 50%,
        col-7: 66.66666666666666%,
        col-8 : 66.66666666666666%,
        col-9: 75%,
        col-10: 83.33333333333334%,
        col-11: 91.66666666666666%,
        col-12: 100%
);
$max-content-width: breakpoints.$screen-lg-min - 1;
