.spinner {
  width: 48px;
  height: 48px;

  &-content {
    display: block;
    box-sizing: border-box;
    animation: rotation 1s ease-out infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
