@use "@/styles/responsive-mixins";

.news-card {
  --_text-color: var(--text-color, var(--black));
  --_action-color: var(--action-color, var(--primary));
  --_content-color: var(--content-color, var(--white));
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  color: var(--_text-color);

  &[data-theme="secondary"] {
    --text-color: var(--white);
    --action-color: var(--white);
    --content-color: var(--primary);
  }

  &-image-wrapper {
    overflow: hidden;
    flex-shrink: 0;
  }

  &-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    transition: transform ease-out 0.3s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    background-color: var(--_content-color);
  }

  &-title {
    flex-shrink: 0;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &-body {
    flex-grow: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }

  &-action {
    flex-shrink: 0;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 16px;
    text-decoration: none;
    color: var(--_action-color);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &:hover &-image {
    transform: scale(1.25);
  }

  @include responsive-mixins.md {
    &-image {
      height: 130px;
    }

    &-content {
      padding: 16px 24px 24px;
    }

    &-title {
      font-weight: 600;
    }

    &-body {
      font-size: 0.75rem;
    }

    &-action {
      font-size: 0.875rem;
    }
  }

  @include responsive-mixins.lg {
    &-image {
      height: 240px;
    }

    &-content {
      padding: 24px;
    }

    &-title {
      font-weight: 500;
      font-size: 1.25rem;
    }

    &-body {
      font-size: 1rem;
    }

    &-action {
      font-size: 1rem;
    }
  }
}
