@use "@/styles/responsive-mixins";
@use "@/styles/layout";
@use "@/styles/mixins";

.information-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-title {
    margin-bottom: 12px;
  }

  &-list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 24px;
  }

  &-action {
    margin-top: 16px;
    width: 100%;
  }

  @include responsive-mixins.md {
    gap: 24px;

    &-title {
      margin-bottom: 0;
    }

    &-description {
      margin-bottom: 12px;
    }

    &-list {
      flex-direction: row;

      & > &-item {
        width: 100%;
        max-width: 370px;
      }
    }

    &-action {
      margin: 12px auto 0;
      width: auto;
    }
  }

  @include responsive-mixins.lg {
    gap: 36px;
    width: map-get(layout.$columns, "col-10");
    margin: auto;

    &-description {
      margin-bottom: 16px;
      font-size: 1.25rem
    }
  }
}
