@use "@/styles/responsive-mixins";

.navigation-dropdown {
  position: relative;

  &:has(.active) {
    .navigation-summary {
      color: var(--primary);
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--night);
    transform: translateY(50%);
  }

  .navigation-summary {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    color: var(--night);
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 12px 0;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      color: var(--primary);
    }

    &-icon {
      flex-shrink: 0;
      display: block;
      pointer-events: none;
      transition: transform ease-out 300ms;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }

  &[open] {
    .navigation-summary {
      color: var(--primary);
    }

    .navigation-summary-icon {
      transform: rotate(180deg);
    }
  }

  .navigation-section {
    width: 100%;
  }

  @include responsive-mixins.lg() {
    & {
      position: static;

      &:after {
        content: none;
      }
    }

    .navigation-summary {
      font-weight: 600;
      font-size: 1.25rem;
      padding: 44px 0 50px;

      &:after {
        content: none;
      }
    }

    .navigation-section {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
    }
  }
}
