@use "@/styles/responsive-mixins";

.sign-up {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  color: var(--white);
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 24px;
  background-image: url("../../assets/background-path-sm.svg");

  &-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }


  &-title {
    font-family: Lato, sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &-info {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: start;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @include responsive-mixins.md {
    background-image: url("../../assets/background-path-md.svg");
  }

  @include responsive-mixins.lg {
    padding: 64px 142px;
    background-image: url("../../assets/background-path-lg.svg");

    &-title {
      font-size: 2.5rem;
    }

    &-content {
      grid-template-columns: 112fr 171fr;
    }

    &-info {
      font-size: 1.25rem;
    }
  }
}
