@use "@/styles/responsive-mixins";
@use "@/styles/mixins";
@use "@/styles/constants";

.hero-section {
  position: relative;
  isolation: isolate;
  padding: 0;

  &-banner {
    margin-top: -#{map-get(constants.$wave-polygon-inverted-md, "height")};
    display: flex;
    width: 100%;
    min-height: 240px;

    &-image {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }


  @include responsive-mixins.md {
    padding-top: 32px;

    &-content {
      padding: 0 24px;
    }

    &-banner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      min-height: auto;
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

  @include responsive-mixins.lg {
    padding-top: 48px;

    &-content {
      padding: 0 48px;
    }

    &-banner {
      margin-top: 0;
      margin-bottom: 48px;
    }
  }
}
