@use "@/styles/responsive-mixins";

.navigation-menu {
  margin: auto;

  .navigation-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .navigation-item {
    width: 100%;
  }

  .navigation-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    color: var(--night);
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 12px 0;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: var(--night);
      transform: translateY(50%);
    }

    &:link,
    &:hover,
    &:focus {
      color: var(--primary);
    }
  }

  @include responsive-mixins.lg() {
    .navigation-list {
      padding: 0;
      flex-direction: row;
      gap: 24px;
      margin: auto;
    }

    .navigation-item {
      width: auto;

      &:hover,
      &:focus-within {
        .navigation-link {
          color: var(--primary);
        }
      }
    }

    .navigation-link {
      font-weight: 600;
      font-size: 1.25rem;
      padding: 44px 0 50px;

      &:after {
        content: none;
      }
    }
  }
}
