@use "@/styles/responsive-mixins";
@use "@/styles/layout";
@use "@/styles/mixins";
@use "sass:map";

.rich-text-section {
  --_section-background: var(--section-background, var(--white));
  --_section-color: var(--section-color, var(--black));
  background-color: var(--_section-background);
  color: var(--_section-color);

  @include responsive-mixins.md {
  }

  @include responsive-mixins.lg {
    &-content {
      width: map.get(layout.$columns, "col-10");
      margin: auto;
    }
  }
}
