@use "@/styles/responsive-mixins";

.social-link-list {
  display: inline-flex;
  gap: 12px;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 24px;
    height: 24px;

    @include responsive-mixins.lg {
      width: 32px;
      height: 32px;
    }
  }

  &-icon {
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}
