@use "@/styles/responsive-mixins";
@use "@/styles/mixins";

.hero-article {
  --article-color: var(--primary);
  position: relative;
  padding: 24px 16px 12px;
  background-color: var(--article-color);
  color: var(--white);

  &-title {
    @include mixins.h4;
  }

  &-body {
    margin: 12px 0 24px;
  }

  &-wave {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(99%);
    width: 100%;
    height: auto;
    color: var(--article-color);
  }

  &[data-variant="secondary"] {
    --article-color: var(--secondary);
    color: var(--black);
  }

  @include responsive-mixins.md {
    padding: 48px 48px 24px;
    border-radius: 0 0 20px 0;

    &-title {
      @include mixins.h3;
    }

    &-body {
      margin: 24px 0;
    }

    &-wave {
      display: none;
    }
  }

  @include responsive-mixins.lg {
    width: 590px;

    &-title {
      @include mixins.h1;
    }

    &-body {
      margin: 24px 0 48px;
      font-size: 1.25rem;
    }
  }
}
