@use "@/styles/responsive-mixins";
@use "@/styles/mixins";

.information-card {
  padding: 24px;
  display: flex;
  height: 100%;
  gap: 24px;
  justify-content: center;
  flex-direction: column;
  color: var(--black);
  background-color: var(--white);

  &-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px
  }

  &-title {
    @include mixins.h4;
  }

  &-image-wrapper {
    display: none;
  }

  &-action {
    width: 100%;
    flex-shrink: 0;
  }

  @include responsive-mixins.md {
    padding: 24px 16px;
    align-items: center;

    &-title {
      text-align: center;
      @include mixins.h5;
    }

    &-image-wrapper {
      height: 48px;
      flex-shrink: 0;
      display: block;

      & > img {
        height: 100%;
      }
    }

    &-action {
      width: auto;
    }
  }

  @include responsive-mixins.lg {
    padding: 36px 24px;

    &-info {
      gap: 24px;
    }

    &-title {
      @include mixins.h3;
    }

    &-image-wrapper {
      height: 72px;
    }
  }
}
