@use "@/styles/responsive-mixins";

.tab-list {
  --_tab-background: var(--tab-background, var(--white));
  --_tab-border: var(--tab-border, var(--primary));
  --_tab-text: var(--tab-text, var(--black));
  --_active-tab-background: var(--active-tab-background, var(--primary));
  --_active-tab-border: var(--active-tab-border, var(--primary));
  --_active-tab-text: var(--active-tab-text, var(--white));

  display: flex;
  flex-direction: column;
  gap: 12px;

  &-tab {
    font-family: Lato, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: var(--_tab-background);
    color: var(--_tab-text);
    border-radius: 8px;
    border: 2px solid var(--_tab-border);

    &:hover {
      cursor: pointer;
      background-color: color-mix(in srgb, var(--_tab-background) 100%, var(--supernova) 25%);
      border-color: color-mix(in srgb, var(--_tab-border) 100%, var(--supernova) 25%);
    }

    &[aria-selected="true"] {
      background-color: var(--_active-tab-background);
      color: var(--_active-tab-text);
      border-color: var(--_active-tab-border);

      &:hover {
        background-color: color-mix(in srgb, var(--_active-tab-background) 100%, var(--supernova) 25%);
        border-color: color-mix(in srgb, var(--_active-tab-border) 100%, var(--supernova) 25%);
      }
    }
  }

  @include responsive-mixins.md {
    flex-flow: row wrap;

    &-tab {
      padding: 10px;
    }
  }

  @include responsive-mixins.lg {
    &-tab {
      font-size: 1rem;
      padding: 14px;
    }
  }
}
